@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  margin: 0 auto;
  max-width: 600px;
  font-size: 62.5%;
  color: whitesmoke;
  background-color: #333333;
  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 2rem;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  margin: 1rem;
  text-align: left;
  list-style: none;
}

a {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}